
<div class="ui input" [class.icon]="hasIcon" (click)="onClick($event)" *ngIf="!hasTransparentInput">
    <input class="prompt" type="text" [attr.placeholder]="placeholder" autocomplete="off"  [(ngModel)]="query">
    <i *ngIf="hasIcon" class="search icon"></i>
</div>
<ng-container *ngIf="hasTransparentInput">
    <input class="search" type="text"  (click)="onClick($event)" [attr.placeholder]="placeholder" autocomplete="off"  [(ngModel)]="query" (blur)="onBlur($event)" (focus)="onFocus($event)">
</ng-container>
<div class="results"
     suiDropdownMenu
     [menuTransition]="transition"
     [menuTransitionDuration]="transitionDuration"
     menuSelectedItemClass="active">

    <sui-search-result *ngFor="let r of results"
                       class="item"
                       [value]="r"
                       [query]="query"
                       [formatter]="resultFormatter"
                       [template]="resultTemplate"
                       (click)="select(r)"></sui-search-result>

    <div *ngIf="results.length == 0" class="message empty">
        <div class="header">{{ localeValues.noResults.header }}</div>
        <div class="description">{{ localeValues.noResults.message }}</div>
    </div>
</div>
