<a class="ui label" *ngFor="let chip of chips;let i = index" [ngClass]="{'active': activeChipIndex === i}">
    {{chip}}
    <i class="delete icon" (click)="deleteChip(i)"></i>
</a>
<sui-search placeholder="" [hideNoResults]="true" [hasTransparentInput]="true"  [hasIcon]="false" [options]="options" [searchDelay]="searchDelay" (keydown)="onKeyDown($event)" (input)="onInput($event)" (onFocus)="onInputFocus($event)" (onBlur)="onInputBlur($event)"
    (resultSelected)="resultSelected($event)" (inputFocus)="onSearchFocus($event)"></sui-search>